extends includes/layout.pug

block content
  - var categoryMeta = theme.category_meta && theme.category_meta[page.category]  
  - var displayName = categoryMeta && categoryMeta.display_name || page.category  
  - var description = categoryMeta && categoryMeta.description || ''
  if theme.category_ui == 'index'
    include ./includes/mixins/indexPostUI.pug
    +indexPostUI
  else
    include ./includes/mixins/article-sort.pug
    #category
      h1.category-title= displayName
      if description  
        .category-description= description 
      .article-sort-title= "Blogs"  
        //- .article-sort-title= _p('page.category')
      +articleSort(page.posts)
      include includes/pagination.pug